<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My home page</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Welcome to my home page!</h1>
	<h4>Please Register to Get the tutorials</h4>
	<form action="/FlaskTutorial" method="post">
		<input type="text" name="email" placeholder="Enter the email please"/>
		<br/>
		<input type="password" name="password"/>
		<br/>
		<input type="submit" value="Submit" name="ok"/>
	</form>
</body>
</html>